# Core
pandas==2.2.2
numpy==1.26.4
scikit-learn==1.4.2

# Visualisation (pour EDA uniquement)
matplotlib==3.8.4

# Progression & utilitaires
tqdm==4.66.4
joblib==1.4.2

# App Streamlit
streamlit==1.35.0

# FastAPI + serveur
fastapi==0.111.0
uvicorn==0.30.0

# Azure Function Tools
azure-functions==1.16.0

# Serialization & compression
scipy==1.13.1

# Pour Python 3.10 ou supérieur
